@page "/shows"
@inject HttpClient HttpClient
@using Movie_and_TV_Tracker.Data.Models

<h3>Add TV Show</h3>

<div>
    <label>Name:</label>
    <input @bind="show.name" />
</div>
<div>
    <label>Release Date:</label>
    <input @bind="show.release_date" />
</div>
<div>
    <label>Number of Episodes:</label>
    <input @bind="show.number_of_episodes" type="number" />
</div>
<div>
    <label>Watch Status:</label>
    <select @bind="show.watch_status">
        <option value="Want to Watch">Want to Watch</option>
        <option value="Watching">Watching</option>
        <option value="Dropped">Dropped</option>
    </select>
</div>
<br />
<button @onclick="AddShow">Add TV Show</button>

<br />
<br />
<br />

<h3>TV Shows</h3>

@if (tvShows == null)
{
    <p><em>Empty... Suspicious... Server is likely not running. Double check to make sure it is</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Number of Episodes</th>
                <th>Watch Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var show in tvShows)
            {
                <tr>
                    <td>@show.id</td>
                    <td>@show.name</td>
                    <td>@show.release_date</td>
                    <td>@show.number_of_episodes</td>
                    <td>@show.watch_status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TVShow> tvShows;

    private TVShowInputObject show = new TVShowInputObject();

    private async Task AddShow()
    {
        try
        {
            HttpClient.BaseAddress = new Uri("http://127.0.0.1:8000");
            await HttpClient.PostAsJsonAsync("/tvshows/", new
            {
                name = show.name,
                release_date = show.release_date,
                number_of_episodes = show.number_of_episodes,
                watch_status = show.watch_status
            });
            // Refresh the TV show list after adding a new show
            tvShows = await HttpClient.GetFromJsonAsync<List<TVShow>>("/tvshows");
            Console.WriteLine("Added TV show successfully");
            show = new TVShowInputObject();
        }
        catch (Exception ex)
        {
            // Handle error
            Console.WriteLine($"Error adding TV show: {ex.Message}");
        }
    }

    // Fetch TV shows when the component is initialized
    protected override async Task OnInitializedAsync()
    {
        HttpClient.BaseAddress = new Uri("http://127.0.0.1:8000");
        tvShows = await HttpClient.GetFromJsonAsync<List<TVShow>>("/tvshows");
    }
}
